@font-face {
  font-family:"AkzMed";
  src: url("../assets/AkzidenzGrotesk-Medium.otf");
}

@font-face {
  font-family:"AkzLgt";
  src: url("../assets/AkzidenzGrotesk-Light.otf");
}

@font-face {
  font-family:"AkzIta";
  src: url("../assets/AkzidenzGrotesk-MediumItalic.otf");
}

@font-face {
  font-family: "MohaveRegular";
  src: url("../assets/Mohave-Regular.otf");
}

body {
height: auto;
margin:0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
color: #000;
background-color: #FFF;
}

main{
  width: 297mm;
  height: 210mm;
  border: solid 3px #000;
  background-image: url("../assets/bg.png");
  background-repeat: repeat;
  background-size: 5.12mm 5.12mm;
  padding:10mm;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row{
  padding: 16px;
  background-color: #FFF;
  display: block;
}

#title-row{
  width: 25%;
  height: 20mm;
}

#title{
  font-family: "AkzMed";
  font-size: 24pt;
  width: 100%;
  display: block;
}

#subtitle{
  font-family: "AkzMed";
  font-size: 12pt;
}

.content-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#sketch{
  background-image: url("../assets/sketch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto calc(100% - 32px);
  width: 90mm;
  height: 45mm;
}

#wireframe{
  background-image: url("../assets/wireframe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto calc(100% - 32px);
  width: 73mm;
  height: 45mm;
}

#interface{
  background-image: url("../assets/interface.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto calc(100% - 32px);
  width: 90mm;
  height: 45mm;
}

#text-1{
  width: 90mm;
  height: 50mm;
}

#text-2{
  width: 185mm;
  height: 35mm;
}

.text-title{
  font-family: "AkzMed";
  font-size: 12pt;
}

.text{
  font-family: "AkzLgt";
  font-size: 9.75pt;
}

#buttons{
  width: 75mm;
  height: 52mm;
}

#demo{
  width: 90mm;
  height: 50.6mm;
}

/* -- INTERACTIF -- */

.tab {
  display: flex;
  align-items: center;
  width: calc(100% - 32px);
  margin: 0 16px 0 16px;
  height: 64px;
  border-bottom: solid 3px #AAA;
  background-image: url("../assets/arrow-g.svg");
  background-repeat: no-repeat;
  background-size: 28.5px 12px;
  background-position: right;
  font-family: "MohaveRegular";
  font-weight: normal;
  font-size: 18pt;
  color: #AAA;
}
.tab .ui-state-active {
  background-image: url("../assets/arrow.svg");
}

.framing-row {
  font-family: "MohaveRegular";
  font-size: 14pt;
  margin: 16px 16px 0 16px;
  width: calc(100% - 32px);
  border-bottom: solid 3px #AAA;
}
.framing-row div {
  margin-bottom: 8px;
}

#tabs ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  font-family: "MohaveRegular";
  font-size: 14pt;
  height: 32px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 8px;
}
#tabs li {
  border-bottom: solid 3px #AAA;
  width: calc(50% - 8px);
}
#tabs a {
  display: inline-block;
  color: #AAA;
  text-decoration: none;
  width: 100%;
  height: 32px;
}
#tabs .ui-state-active {
  border-color: #418CFF !important;
}
#tabs .ui-state-active a {
  color: #202020 !important;
}

#preset > * {
  margin-bottom: 8px;
}

.trackletsmenu select {
  width: 100%;
  background-position: 96% 50%;
}

.ui-selectmenu-button {
  font-family: "MohaveRegular";
  font-size: 14pt;
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-color: #418CFF;
  color: #F6F6F6;
  border-radius: 20px;
  height: 40px;
  padding-left: 16px;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/select-arrow.svg");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  background-size: 19px 8px;
}
.ui-selectmenu-button:hover{
  background-color: #0e6dff;
}

.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap;
  width: calc(100% - 16px);
}
.ui-selectmenu-button:hover {
  cursor: pointer;
}

.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.ui-selectmenu-menu .ui-menu {
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 1px;
}

.ui-selectmenu-open {
  display: block;
}

.ui-selectmenu-text {
  display: block;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-selectmenu-icon.ui-icon {
  float: right;
  margin-top: 0;
}

.ui-menu {
  list-style: none;
  padding: 0;
  margin-top: -40px !important;
  display: block;
  outline: 0;
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  font-family: "MohaveRegular";
  font-size: 14pt;
  color: #F6F6F6;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 50px);
}
.ui-menu .ui-menu {
  position: absolute;
}
.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  border-bottom: solid 3px #F6F6F6;
  background-color: #418CFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-menu .ui-menu-item:first-of-type {
  border-radius: 20px 20px 0px 0px;
  background-image: url("../assets/select-arrow.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 19px 8px;
}
.ui-menu .ui-menu-item:last-of-type {
  border-radius: 0px 0px 20px 20px;
  border-bottom: 0;
}
.ui-menu .ui-menu-item:hover {
  color: #F6F6F6 !important;
  background-color: #0e6dff;
}

.half-row {
  display: flex;
  justify-content: space-between;
}
.half-row select, .half-row div {
  color: #F6F6F6;
  width: calc(50% - 8px);
}
.half-row .ui-button {
  width: calc(47% - 16px) !important;
  background-position: 90% 50%;
}

.toggles {
  font-family: "MohaveRegular";
  font-size: 12pt;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.toggles-left {
  display: flex;
  flex-wrap: wrap;
  width: 47%;
  margin: 0 !important;
}

.toggles-right {
  display: flex;
  flex-wrap: wrap;
  width: 47%;
  margin: 0 !important;
}

.toggle-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.toggle-row span {
  margin-left: 12px;
}

.toggle {
  height: 16px;
  width: 32px;
  background-image: url("../assets/toggle-off.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 32px 16px;
  margin-top: 4px;
}

.on {
  background-image: url("../assets/toggle-on.svg");
}

.keep-out {
  background-size: auto 100% !important;
}

.stage-position, .gaze-direction {
  background-size: auto 90% !important;
  background-position: left !important;
}

#create-scene {
  font-family: "MohaveRegular";
  font-size: 14pt;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #418CFF;
  color: #F6F6F6;
  height: 40px;
  border-radius: 20px;
  width: 100%;
}
#create-scene:hover {
  background-color: #0e6dff;
  cursor: pointer;
}

#custom div {
  font-family: "MohaveRegular";
  font-size: 14pt;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 8px;
}

.selected-actors, #create, #cancel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-actors {
  width: 100%;
  border: solid 3px #AAA;
  color: #AAA;
  height: 40px;
  border-radius: 20px;
}

#create {
  background-color: #418CFF;
}
#create:hover{
  background-color: #0e6dff;
}

#cancel {
  background-color: #AAA;
  cursor:pointer;
}
#cancel:hover{
  background-color: #919191;
  cursor:pointer;
}

#video{
  height: 50mm;
}

.video {
  height: 50mm;
  width: 90mm;
  background-image: url("../assets/video.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.videobar {
  background-image: url("../assets/videobar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5mm;
  margin-bottom: 8px;
}
